<!-- <p>home works!</p> -->
<p class="anubhaDisclaimer">{{disclaimer}}</p>

<h2 class="anubha">{{title}}</h2>

<div class="formDiv">
    <form #signupForm="ngForm" (submit)="addFormInfo(signupForm)">
        <div class="form-group">
            <label for="exampleInputName1">Name</label>
            <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="exampleInput">Gender</label>
            <div>
                <button type="button" class="btn" (click)="setState('M')" [ngClass]="(gender=='M')? 'active':'inActive'" >Male</button>
                <button type="button" class="btn" (click)="setState('F')" [ngClass]="(gender=='F')? 'active':'inActive'" >Female</button>
                <button type="button" class="btn" (click)="setState('O')" [ngClass]="(gender=='O')? 'active':'inActive'" >Other</button>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" [(ngModel)]="email" name="email" class="form-control" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group" style="margin-bottom: 5px;">
            <label for="exampleInputMobile1">Mobile</label>
            <input type="text" [(ngModel)]="mobile" name="mobile" class="form-control" placeholder="Mobile">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>